body {
  font-size: 8.7pt;
  line-height: 1.28;
  padding: 0.36in 0.50in 0.24in 0.50in;
}

.section-header {
  margin-top: 13px;
  margin-bottom: 4px;
}

.job-header {
  margin-top: 11px;
}

.job-subtitle {
  margin-bottom: 3px;
}

ul {
  margin-top: 3px;
  margin-bottom: 0;
}

li {
  margin-bottom: 5px;
}

li::marker {
  font-size: 8pt;
}

.skill-line {
  margin-bottom: 2px;
}
